.f{
    padding-top: 2%;
    display: flex;
    justify-content: center;
}

#create{
    background-color: rgb(232, 232, 232);
    width: 100%;
    border: solid black;
    border-width: 1px;
    height: 40px;
}

.buttonhome{
    margin-left: 80%;
    border: none;
    height: 40px;
    width: 50;
    font-style: 'Asap', sans-serif;
    background-color: rgba(0, 140, 255, 0.5);
}

.title{
    margin-bottom: 10%;
}

.summary{
    margin-bottom: 10%;
}

.healthScore{
    margin-bottom: 10%;
}

.intscreate{
    margin-top: 10%;
    margin-bottom: 10%;
}

.imagecreate{
    margin-top: 10%;
    margin-bottom: 10%;
}


#newlab{
    background-color: rgb(237, 237, 237);
    width: 90%;
    border: solid black;
    border-width: 1px;
    height: 40px;
}

#createrecipe{
    font-style: 'Asap', sans-serif;
    font-size: 200%;
    background-color: rgba(0, 140, 255, 0.5);
    margin-left: 20%;
    margin-right: 20%;
}



#lab{
    font-size: 150%;
    font-family: 'Asap', sans-serif
}

.buttoncreate{
   background-color: rgba(0, 140, 255, 0.5);
   width: 90%;
   border: none;
   height: 40px;
}