#filtdiets{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border:none;
    background-color: rgb(203, 203, 203);
    margin-right: 10px;
}

.selectDiet{
    width: 100px;
    height: 30px;
    border:none;
    margin-top: 16px;
    padding: 2%;
    margin-right: 10px;
}


